/* 1 - Nesse arquivo .css, adicione os estilos para que:
O texto das tags 'h1' e 'p' estejam centralizados.
A cor de fundo da sua lista mude quando o cursor estiver sobre o item.
A fonte do item mude quando ele for clicado.
2 - No 'style.css', adicione a propriedade 'list-style: none' para ambas as listas. */
h1, p {
  text-align: center;
}

li:hover{
  background-color: chocolate;
}

li:active {
  color: white;
}

ol, ul {
  list-style: none;
}
