/* 1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */
.super-mario {
  width: 200px;
  position: absolute;
  top: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 450px;
  left: 165px;
}

.baloon {
  position: absolute;
  right: 270px;
  width: 180px;
  z-index: 1;
  top: 105px;
}

.speach {
  font-size: 15px;
  position: absolute;
  z-index: 2;
  right: 290px;
  top: 130px;
}

.bowser {
  width: 250px;
  position: absolute;
  right: 40px;
  top: 105px;
}
